.blog-post-container {
  font-family: "IBM Plex Serif", serif;

  a {
    color: blue;
    text-decoration: none;
    margin-right: 0.5em;
  }

  .blog-post__date {
    margin-top: 5em;
  }

  .blog-post {
    .blog-post__image {
      width: 100%;
      object-fit: cover;
    }
  }
}

// mobile-portrait
@media (max-width: 599px) and (orientation: portrait) {
  .blog-post-container {
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.1em;
      line-height: 1.55em;
    }

    .blog-post {
      .blog-post__image {
        height: 40vh;
      }

      h1 {
        font-size: 1.8em;
        line-height: 1.25em;
      }

      h2 {
        font-size: 1.75em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    margin-bottom: 5em;
  }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
  .blog-post-container {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.2em;
      line-height: 1.6em;
    }

    .blog-post {
      .blog-post__image {
        height: 400px;
      }

      h1 {
        font-size: 2.5em;
        line-height: 1.25em;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    margin-bottom: 5em;
  }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
  .blog-post-container {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.1em;
      line-height: 1.55em;
    }

    .blog-post {
      .blog-post__image {
        height: 400px;
      }

      h1 {
        font-size: 2.5em;
        line-height: 1.25em;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    margin-bottom: 5em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .blog-post-container {
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.2em;
      line-height: 1.6em;
    }

    .blog-post {
      .blog-post__image {
        height: 400px;
      }

      h1 {
        font-size: 3em;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    margin-bottom: 5em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .blog-post-container {
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.2em;
      line-height: 1.6em;
    }

    .blog-post {
      .blog-post__image {
        height: 400px;
      }

      h1 {
        font-size: 2.5em;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    margin-bottom: 5em;
  }
}