.blog-post-container {
  a {
    color: blue;
    text-decoration: underline;
  }

  .blog-post {
    .blog-post__image {
      width: 100%;
      object-fit: cover;
    }
  }
}

// mobile-portrait
@media (max-width: 599px) and (orientation: portrait) {
  .blog-post-container {
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
    min-height: calc(100vh - 220px);

    .blog-post {
      .blog-post__image {
        height: 300px;
      }
    }
  }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
  .blog-post-container {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
    min-height: calc(100vh - 220px);

    .blog-post {
      .blog-post__image {
        height: 300px;
      }
    }

    margin-bottom: 5em;
  }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
  .blog-post-container {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    min-height: calc(100vh - 220px);

    .blog-post {
      .blog-post__image {
        height: 300px;
      }
    }

    margin-bottom: 5em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .blog-post-container {
    margin-top: 150px;
    width: 80%;
    margin-left: 10%;
    min-height: calc(100vh - 220px);

    .blog-post {
      .blog-post__image {
        height: 300px;
      }

      margin-bottom: 5em;
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .blog-post-container {
    margin-top: 150px;
    width: 60%;
    margin-left: 20%;
    min-height: calc(100vh - 220px);

    p,
    li {
      font-size: 1.2em;
      line-height: 1.5em;
    }

    .blog-post {
      .blog-post__image {
        height: 400px;
      }

      h1 {
        font-size: 3.25em;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      margin-bottom: 5em;
    }
  }
}