.share-post {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  button {
    outline: none;
  }
}

// mobile-portrait
@media (max-width: 599px) and (orientation: portrait) {
  .share-post {
    width: 70%;
    margin-bottom: 2em;
  }

  svg {
    width: 1.75em;
    height: 1.75em;
  }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
  .share-post {
    width: 50%;

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
  .share-post {
    width: 240px;

    svg {
      width: 1.25em;
      height: 1.25em;
    }
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .share-post {
    width: 240px;

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .share-post {
    width: 240px;

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }
}
