.tags-page {}

// mobile-portrait
@media (max-width: 599px) and (orientation: portrait) {
    .tags-page {
        margin-top: 100px;
        width: 90%;
        margin-left: 5%;
        min-height: 100vh;
        height: auto;
    }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
    .tags-page {
        margin-top: 100px;
        width: 90%;
        margin-left: 5%;
        min-height: 100vh;
        height: auto;
    }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
    .tags-page {
        margin-top: 100px;
        width: 80%;
        margin-left: 10%;
        min-height: 100vh;
        height: auto;
    }
}

// desktop/laptop
@media (min-width: 1200px) {
    .tags-page {
        margin-top: 100px;
        width: 80%;
        margin-left: 10%;
        min-height: 100vh;
        height: auto;
    }
}

// desktop x-large
@media (min-width: 1800px) {
    .tags-page {
        margin-top: 140px;
        width: 60%;
        margin-left: 20%;
        min-height: 100vh;
        height: auto;
    }
}