.post-description {
  position: relative;
  color: white;

  a {
    color: white;
  }

  .post__date {
    position: absolute;
    font-weight: bold;
  }

  .post__title {
    position: absolute;
    left: 5%;
    height: auto;
    line-height: 1.5em;
    text-shadow: 2px 0 0 #050505, 0 2px 0 #050505;
  }

  .post__image {
    margin-top: 1em;
    object-fit: cover;

    height: 100%;
    opacity: 0.9;
    filter: brightness(0.75);
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      filter: brightness(1);
    }
  }
}

// mobile-portrait
@media (max-width: 599px) and (orientation: portrait) {
  .post-description {
    width: 100%;
    height: 250px;
    margin-bottom: 2em;

    .post__image {
      width: 100%;
    }

    .post__date {
      top: 90%;
      left: 5%;
      font-size: 0.9em;
    }

    .post__title {
      top: 5%;
      width: 90%;


      h3 {
        font-size: 1.25em;
        line-height: 1.5em;
      }

      h4 {
        font-size: 1em;
      }
    }
  }
}

// tublet-portrait
@media (min-width: 600px) and (orientation: portrait) {
  .post-description {
    width: 100%;
    height: 350px;
    margin-bottom: 2em;

    .post__image {
      width: 100%;
    }

    .post__date {
      top: 90%;
      left: 5%;
      font-size: 0.9em;
    }

    .post__title {
      top: 10%;
      width: 70%;


      h3 {
        font-size: 1.75em;
        line-height: 1.75em;
      }

      h4 {
        font-size: 1.25em;
      }
    }
  }
}

// tablet-landscape
@media (min-width: 900px) and (orientation: landscape) {
  .post-description {
    width: 100%;
    height: 300px;
    margin-bottom: 2em;

    .post__image {
      width: 80%;
    }

    .post__date {
      top: 90%;
      left: 5%;
      font-size: 0.9em;
    }

    .post__title {
      top: 10%;
      width: 70%;

      h3 {
        font-size: 1.5em;
        line-height: 1.25em;
      }

      h4 {
        font-size: 1em;
      }
    }
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .post-description {
    width: 100%;
    height: 350px;
    margin-bottom: 3em;

    .post__image {
      width: 80%;
    }

    .post__date {
      top: 85%;
      left: 5%;
      font-size: 0.9em;
    }

    .post__title {
      top: 10%;

      h3 {
        font-size: 1.75em;
      }

      h4 {
        font-size: 1.25em;
      }
    }
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .post-description {
    width: 100%;
    height: 350px;
    margin-bottom: 3em;

    .post__image {
      width: 80%;
    }

    .post__date {
      top: 85%;
      font-size: 0.9em;
    }

    .post__title {
      top: 10%;

      h3 {
        font-size: 1.75em;
      }

      h4 {
        font-size: 1.25em;
      }
    }
  }
}